<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Medicine</title>
<link rel="stylesheet" th:href="@{/css/pharmacy"header">
Hospital Pharmacy System
</h2>

<div class="container">
	<h3>Add Medicine</h3>

	<form method="post">
		<input name="name" placeholder="Name" required><br>
		<br> <input name="pricePerUnit" placeholder="Price" required><br>
		<br> <input name="stockQuantity" placeholder="Stock" required><br>
		<br>
		<button>Add</button>
	</form>
</div>
</body>
</html>